version: "3"

services:
  backend:
    build: backend/
    command: npm start
    ports:
      - 3003:3003

  frontend:
    build: frontend/
    command: npm start
    network_mode: host
    depends_on:
      - backend
